
  <tr class="<%= cycle "even", "odd" %>">
    <td><strong><%= order.id.to_s %></strong></td>
    <td><%= order.customer_po %></td>
    <% if @show == "fulfilled" -%>
      <td><%= link_to order.contact.business, user_order_path(order) %></td>
    <% else -%>
      <td><%= link_to order.contact.business, edit_user_order_path(order) %></td>
    <% end -%>
    <td class=<%= order.delivery_date<Date.today&&!order.fulfilled? ? 'late' : '' %>>
      <% if @show == "fulfilled" -%>
        <%= humanize_date order.fulfilled_on %>
      <% else =%>
        <%= humanize_date order.delivery_date %>
      <% end =%>
    </td>
    <td>
      <% if order.invoice_id && @invoices -%>
        <% invoice = @invoices.detect{|i| i.invoice_id == order.invoice_id} -%>
        <% text = invoice.status -%>
        <% if invoice.sent_to_contact -%>
          <% text += " & Sent" -%>
        <% end -%>
        <%= text %>
      <% else -%>
        NONE
      <% end -%>
    </td>
    <% if order.fulfilled? -%>
      <td></td><td></td>
    <% else -%>
      <td><%= link_to 'Void', user_order_path(order), confirm: 'Are you sure?', method: :delete, id: "void_#{order.id}" %></td>
    <% end -%>
  </tr>
