<h1><%=@order.contact.business%></h1>
<h2><%= humanize_date @order.fulfilled_on%></h2>

<p>
	<%= link_to 'Undeliver', unfulfill_admin_order_path(@order) %>
</p>

<table class="crud admin" cellpadding="0px" cellspacing="0px">
	<tr class="title">
		<th>Quantity</th>
		<th>Size</th>
		<th>Cheese</th>
	</tr>

<% @order.line_items.each do |line_item| -%>
  <tr class="<%= cycle "even", "odd" %>">
    <td style="white-space: nowrap"><%=line_item.units %></td>
    <td style="white-space: nowrap"><%=line_item.size %></td>
    <td style="white-space: nowrap"><%=line_item.product.name %></td>
    
  </tr>

<% end -%>
</table>

<p><%= @order.comments %></p>
