<h1>Listing Articles</h1>

<p>
<%= link_to 'New Article', new_admin_article_path %>
</p>


<table class="crud admin" cellpadding="0px" cellspacing="0px">
  <tr class="title">
    <th>Title</th>
    <th></th>
  </tr>


<% @articles.each do |article| -%>
  <tr class="<%= cycle "even", "odd" %>">
    <td><%= link_to article.title, edit_admin_article_path(article) %></td>
    <td><%= link_to 'X', admin_article_path(article), confirm: 'Are you sure?', method: :delete, id: "delete_#{article.id}" %>&nbsp;</td>
  </tr>
<% end -%>

</table>

<p>
<%= link_to 'New Article', new_admin_article_path %>
</p>
