
<%= image_tag "AR_Bus.jpg", align: "right" %>
<h1>KWAC News</h1>
<p>
  Get the latest on what is happening at <strong>Kent Walker Artisan Cheese</strong>
</p>
<%= will_paginate @articles %>

<table class="crud admin" cellpadding="0px" cellspacing="0px">
  <tr class="title">
    <th>Name (Click for article)</th>
    <th>Date</th>
  </tr>
  <% @articles.each do |article| -%>
    <tr class="<%= cycle "even", "odd" %>">
      <td>
        <% if article.url&&!article.url.empty? -%>
          <%= link_to article.title, article.url, target: "_blank" %>
        <% else -%>
          <%= link_to article.title, article %>
        <% end -%>
      </td>
      <td ><%= humanize_date article.date%></td>
          </tr>
  <% end -%>

</table>

<%= will_paginate @articles %>
