<h1>PO <%= @order.id %></h1>

<%= link_to '<', edit_admin_order_path(@prev_id), :class => "nav_arrow nav_arrow_left" %>
<%= link_to '>', edit_admin_order_path(@next_id), :class => "nav_arrow nav_arrow_right" %>

<p>
Created by <%= @order.created_by.name %> on <%= humanize_date @order.created_at %>.
<% if @order.updated_by -%>
  <br />
  Updated by <%= @order.updated_by.name %> on <%= humanize_date @order.updated_at %>.
<% end -%>
</p>

<%= form_for(@order, :url=>admin_order_path(@order)) do |f| %>

<p>
	<% if @order.invoice_id =%>
		<h4>
		  Xero Invoice Status: <%= @invoice.status %>
			<% if @invoice.sent_to_contact -%>
			  & Sent
			<% end -%>
		</h4>
		<%= link_to 'Open Invoice', @xero_invoice_link + @order.invoice_id, :target =>"_blank" %>
	<% else =%>
		<%= link_to 'Create Invoice', invoice_admin_order_path(@order) %>
    <div class="field">
      <%= f.label :invoice_id, "Existing Xero Invoice ID" %>
      <%= f.text_field :invoice_id %>
    </div>
	<% end =%>
</p>

<p>
<%= link_to 'Mark Delivered', fulfill_admin_order_path(@order) %> |
<%= link_to 'Void', admin_order_path(@order), confirm: 'Are you sure?', method: :delete %>
</p>


  <p class="actions">
    <%= f.submit 'Update', :name => :update, :disable_with => "Loading..."  %>
    <%= f.submit 'Save & Finish', :name => :save, :disable_with => "Loading..."  %>
		<%= link_to 'Cancel', admin_orders_path %>
  </p>



	<fieldset class="column">
		<legend>Order <%= @order.id %></legend>
		<%= render :partial => 'form', :locals => {:f => f} %>

  <p class="actions">
    <%= f.submit 'Update', :name => :update, :disable_with => "Loading..."  %>
    <%= f.submit 'Save & Finish', :name => :save, :disable_with => "Loading..."  %>
		<%= link_to 'Cancel', admin_orders_path %>
  </p>

	</fieldset>

<% end -%>
<fieldset class="column">
  <%= render :partial => 'contact', :locals => {:contact => @order.contact} %>
</fieldset>
<% if @order.contact.mark_retail -%>
  <fieldset class="column">
    <%= render :partial => 'calculator', :locals => {:contact => @order.contact} %>
  </fieldset>
<% end -%>
