

<h1><%=@title%></h1>

<p>
<%= link_to 'New Order', new_admin_order_path %>
</p>

<p>
	<%= link_to 'Active Orders', admin_orders_path({:show => "active"})%> |
	<%= link_to 'Delivered Orders', admin_orders_path({:show => "fulfilled"})%> |
	<%= link_to 'Late Orders', admin_orders_path({:show => "late"})%>
</p>



<div class="wide_wrapper">

    <%= render "table_head" %>
    <% @orders.each do |order| -%>
      <%= render "order_table", :order => order %>
    <% end -%>
    </table>


</div>

<br />
