  <div class="slideshow" id="slideshow">
    <%= image_tag "slideshow.jpg", :align => "center" %>
    <p>
      <span>Hand Made</span>
      <span>Cave Aged</span>
      <span>Ethical Sourcing</span>
      <span>Available Near You</span>
    </p>
  </div>
  
  <!--
  <fieldset class="newsflash">
    <legend><h1>Any Excuse to Party</h1></legend>
    <%= link_to( image_tag("aetp_sm.png"), "/assets/aetp.png", :target => "_blank" ) %>
    <p>
      <h2>5-10pm on April 16th</h2>
    </p>
    <p>
      Join the folks at Kent Walker Artisan Cheese for the first ever inaugural outdoor event: Any Excuse to Party. Cross street will be closed down to car traffic, and we're taking over. We are committed, this'll be a rain or shine event.
    </p>
    <p>
      Bob Livingston and Bradley Kopp will be taking the main stage to play some sweet tunes.
    </p>
    <p>
      The Southern Gourmasian, Hot Rod Wieners, Katmandu MoMo, & Loblolly Creamery will all be here serving tasty treats.
    </p>
    <p>
      Lots of beer to be had as well: Diamond Bear Brewing Company, Rebel Kettle Brewing Co., Stone's Throw Brewing, Lost Forty Brewing, & Flyway Brewing are pouring.
    </p>
    <p>
      <h3>
      <a href="https://www.facebook.com/events/760722234059235/", target = "_blank">Click here for more information</a>
      </h3>
    </p> 
  </fieldset>
  -->
  
  <h1 id="story">Our Story</h1>
  <%= image_tag "Cheese.png", :align=> "right", :class => "home_image_right" %>
  
  
  <p>
    Great food and drink are my life's passions.  I left a successful engineering career to apply that passion towards amateur cheesemaking:
    cool whip container molds, bricks and metal rods for a press, & aging cheeses in the vegetable crisper with the fridge temp set as high as my roommate would allow me to.
    While casting about, working jobs at wineries, breweries, and distilleries I fell in love with the production industry.  
    In 2011, I decided to unite my joy for great food & drink, my love of cheesemaking and experience working in production: <strong>Kent Walker 
    Artisan Cheese</strong> was born.  We grew from a small batch maker in a church kitchen to a full fledged production facility and tasting room.  It is a true 
    pleasure to make cheese from the delicious raw cow, goat, and sheep milk of Central Arkansas.
  </p>
  
  <p>
    At <strong>Kent Walker Artisan Cheese</strong>, we proudly offer the highest quality cheese possible.  We have a strong team of cheesemakers, affineurs, 
    mongers, and volunteers.  Every wheel of our handcrafted, natural rind cheese ages to perfection in our walk-in cave.  We believe that working 
    with local farmers and keeping animal welfare a top priority creates a better cheese and sustainable, people-first model of business.
  </p>
  
  <%= image_tag "Tour.jpg", :align=> "left", :class => "home_image_left" %>
  <p>
    Come visit our full service cheese shop and tasting room in downtown Little Rock, Arkansas.  We sell slices, wedges and wheels of our own cheese 
    along with a variety of great imported cheeses.  Enjoy a tasty cheese and meat plate, sip a glass of fine wine or a pint of local brew.  
    Don't forget to try our <a href="https://youtu.be/j3fv31yn2iA?t=25s" target="_blank">Raclette</a> plate, too!  We have plenty of seating in our 
    tasting room and a great patio space.  If you want to see our professional equipment and learn how it all works from an artisan perspective,
     we have official tours every weekend afternoon. Of course, children are welcome throughout the shop; their eyes just light up while tasting 
     the cheese they just saw being made.  
    Local musicians are featured most weekends. 
  </p>
  <p>
    We produce cheese 2-3 times a week during weekdays.  If you would like to see cheesemaking happen, just call to check our schedule.  We have fresh cheese
    curds available in the tasting room on production days!
  </p>






<div class="info">
  <div class="spacer">&nbsp;</div>
    <div class="content">
     <div class="google">
      <h2 id="events">Live Music & Events</h2>
        <iframe 
          class="calendar" 
          src="https://www.google.com/calendar/embed?showTitle=0&amp;showNav=0&amp;showDate=0&amp;showPrint=0&amp;showTabs=0&amp;showCalendars=0&amp;showTz=0&amp;mode=AGENDA&amp;height=400&amp;wkst=2&amp;bgcolor=%23FFFFFF&amp;src=kentwalkercheese.com_2l9spjg2ekcsfurntjrchpru30%40group.calendar.google.com&amp;color=%230F4B38&amp;ctz=America%2FChicago"
           width="400" height="400" 
           frameborder="0" 
           scrolling="no">
         </iframe>
         
        <iframe
          class="map"
          frameborder="0" 
          src="https://www.google.com/maps/embed/v1/place?key=AIzaSyAsMNnmpoMXSBAn_qCmHZGUd8DtY_-BQzo&q=Kent+Walker+Artisan+Cheese,Little+Rock+Arkansas">
        </iframe>
        
      </div>

      <div>
        <h2>Hours & Tours</h2>
        <p>
          We always love it when people visit. &nbsp;Come see us make cheese, buy some to take home, or just enjoy a cheese plate with a glass of wine or local beer.
        </p>
        
        <div class="list">
          <h3>Open Hours</h3>
          <ul>
            <li>
              <span class="day">Wed:</span>
              <span>11am - 10pm</span>
            </li>
            <li>
              <span class="day">Thur:</span>
              <span>11am - 10pm</span>
            </li>
            <li>
              <span class="day">Fri:</span>
              <span>11am - 10pm</span>
            </li>
            <li>
              <span class="day">Sat:</span>
              <span>11am - 10pm</span>
            </li>
            <li>
              <span class="day">Sun:</span>
              <span>11am - 8pm</span>
            </li>
          </ul>
        </div>
        <div class="list">
          <h3>Tours</h3>
          <ul>
            <li>
              <span class="day">Saturday:</span>
              <span>3pm</span>
            </li>
            <li>
              <span class="day">Sunday:</span>
              <span>3pm</span>
            </li>
          </ul>
        </div>
        
        <p>
        Be sure to make time in your day to tour <a href="http://diamondbear.com/event-rooms/tours/" target="_blank">Diamond Bear</a>,
        <a href="http://www.stonesthrowbeer.com/" target="_blank">Stones Throw</a>
         and <a href="https://www.rocktowndistillery.com/tours/" target="_blank">Rock Town</a>, 
        as well. You can see all of us in a day!
        </p>

      </div>

      <div>
        <h2>Online Ordering</h2>
        Our cheese is now available to be ordered <%= link_to "here", order_path %> for pickup or shipping.
        &nbsp;All of our "Year Round" cheeses are available and come hand wrapped in reusable cheese paper to maximize shelf life. &nbsp;Direct Eats even offers free shipping!
        
        <div class="spacer">&nbsp;</spacer>
        <p>
          <%= link_to "Order Online", "https://squareup.com/store/Kwac", :class => "order", :target => "_blank" %>
        </p>
      </div>
      
    <div class="spacer">&nbsp;</div>
    </div>
  </div>
</div>
