  <div class="slideshow" id="slideshow">
    <%= image_tag "slideshow.jpg", align: "center" %>
    <p>
      <span>Hand Made</span>
      <span>Cellar Aged</span>
      <span>Ethical Sourcing</span>
      <span>Available Near You</span>
    </p>
  </div>
  
  <!--
  <fieldset class="newsflash">
    <legend><h1>Any Excuse to Party</h1></legend>
    <%= link_to( image_tag("aetp_sm.png"), "/assets/aetp.png", target: "_blank" ) %>
    <p>
      <h2>5-10pm on April 16th</h2>
    </p>
    <p>
      Join the folks at Kent Walker Artisan Cheese for the first ever inaugural outdoor event: Any Excuse to Party. Cross street will be closed down to car traffic, and we're taking over. We are committed, this'll be a rain or shine event.
    </p>
    <p>
      Bob Livingston and Bradley Kopp will be taking the main stage to play some sweet tunes.
    </p>
    <p>
      The Southern Gourmasian, Hot Rod Wieners, Katmandu MoMo, & Loblolly Creamery will all be here serving tasty treats.
    </p>
    <p>
      Lots of beer to be had as well: Diamond Bear Brewing Company, Rebel Kettle Brewing Co., Stone's Throw Brewing, Lost Forty Brewing, & Flyway Brewing are pouring.
    </p>
    <p>
      <h3>
      <a href="https://www.facebook.com/events/760722234059235/", target = "_blank">Click here for more information</a>
      </h3>
    </p> 
  </fieldset>
  -->

  <h1 id="story">Our Story</h1>
  <p>
    <strong>Slaymaker Cellars</strong> is a local, high quality Meadery located in Idaho Springs, Colorado.  We are dedicated to using
    high quality ingredients, making high quality wine, and giving back to the community.
  </p>

  <%= image_tag "carboys.jpg", align: "left", class: "home_image_left" %>

  <p>
    We are currently in our Research and Development mode.  Our head meadmaker, Kent Slaymaker, has been making mead
    for over ten years.  Now we are switching over to a professional winery set up.
  </p>

  <h1>What is Mead?</h1>
  <p>
    Mead is "Honey Wine".  We work with local apiaries (Bee farms) to source high quality honey.  We use traditional
    winemaking techniques to ferment that honey into mead.
  </p>

  <p>
    Mead may be the oldest fermented beverage know to humans, it was popular from 12,000 years ago all the way up to
    the renaissance, when beer and grape wine took over as the most popular drinks.
  </p>

  <p>
    In the modern day, mead has been seeing a bit of a resurgence.
  </p>

  <h1>How do you get some of our mead?</h1>
  <p>
    We are not yet selling our mead as we are refining our recipes and finishing up our permitting process.
    Look for us at upcoming festivals and events in the Clear Creek County area.
  </p>

<div class="info" style="display: none">
  <div class="spacer">&nbsp;</div>
    <div class="content">
     <div class="google">
      <h2 id="events">Live Music & Events</h2>
        <iframe 
          class="calendar" 
          src="https://www.google.com/calendar/embed?showTitle=0&amp;showNav=0&amp;showDate=0&amp;showPrint=0&amp;showTabs=0&amp;showCalendars=0&amp;showTz=0&amp;mode=AGENDA&amp;height=400&amp;wkst=2&amp;bgcolor=%23FFFFFF&amp;src=kentwalkercheese.com_2l9spjg2ekcsfurntjrchpru30%40group.calendar.google.com&amp;color=%230F4B38&amp;ctz=America%2FChicago"
           width="400" height="400" 
           frameborder="0" 
           scrolling="no">
         </iframe>
         
        <iframe
          class="map"
          frameborder="0" 
          src="https://www.google.com/maps/embed/v1/place?key=AIzaSyAsMNnmpoMXSBAn_qCmHZGUd8DtY_-BQzo&q=Kent+Walker+Artisan+Cheese,Little+Rock+Arkansas">
        </iframe>
        
      </div>

      <div>
        <h2>Hours & Tours</h2>
        <p>
          We always love it when people visit. &nbsp;Come see us make cheese, buy some to take home, or just enjoy a cheese plate with a glass of wine or local beer.
        </p>
        
        <div class="list">
          <h3>Open Hours</h3>
          <ul>
            <li>
              <span class="day">Wed:</span>
              <span>11am - 10pm</span>
            </li>
            <li>
              <span class="day">Thur:</span>
              <span>11am - 10pm</span>
            </li>
            <li>
              <span class="day">Fri:</span>
              <span>11am - 10pm</span>
            </li>
            <li>
              <span class="day">Sat:</span>
              <span>11am - 10pm</span>
            </li>
            <li>
              <span class="day">Sun:</span>
              <span>11am - 8pm</span>
            </li>
          </ul>
        </div>
        <div class="list">
          <h3>Tours</h3>
          <ul>
            <li>
              <span class="day">Saturday:</span>
              <span>3pm</span>
            </li>
            <li>
              <span class="day">Sunday:</span>
              <span>3pm</span>
            </li>
          </ul>
        </div>
        
        <p>
        Be sure to make time in your day to tour <a href="http://diamondbear.com/event-rooms/tours/" target="_blank">Diamond Bear</a>,
        <a href="http://www.stonesthrowbeer.com/" target="_blank">Stones Throw</a>
         and <a href="https://www.rocktowndistillery.com/tours/" target="_blank">Rock Town</a>, 
        as well. You can see all of us in a day!
        </p>

      </div>

      <div>
        <h2>Online Ordering</h2>
        Our cheese is now available to be ordered <%= link_to "here", order_path %> for pickup or shipping.
        &nbsp;All of our "Year Round" cheeses are available and come hand wrapped in reusable cheese paper to maximize shelf life. &nbsp;Direct Eats even offers free shipping!
        
        <div class="spacer">&nbsp;</spacer>
        <p>
          <%= link_to "Order Online", "https://squareup.com/store/Kwac", class: "order", target: "_blank" %>
        </p>
      </div>
      
    <div class="spacer">&nbsp;</div>
    </div>
  </div>
</div>
