<h1>Fulfillment</h1>
<p>All numbers are units, not pounds</p>

<% @fulfillment.keys.each do |date| -%>
  <h2><%= humanize_date date %></h2>

  <table class="crud fulfillment">
    <tr class="title">
      <th></th>
      <% LineItem::SIZES.each do |s| %>
        <th><%= s %></th>
      <% end -%>
    </tr>

    <% @fulfillment[date].keys.each do |p| -%>
      <tr>
        <td><%= p %></td>
        <% LineItem::SIZES.each do |s| %>
          <td class=<%= @fulfillment[date][p][s]>0 ? 'active' : 'inactive' %>>
            <%= @fulfillment[date][p][s] %>
          </td>
        <% end -%>
      </tr>
    <% end -%>

  </table>
<% end -%>
