<% if @report.errors.any? %>
  <div id="error_explanation">
    <h2><%= pluralize(@report.errors.count, "error") %> prohibited this report from being saved:</h2>

    <ul>
      <% @report.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
    </ul>
  </div>
<% end %>


<div class="column">
  <div class="field">
    <%= f.label :name %>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :report_type %>
    <%= select(:report, :report_type, Report::REPORT_TYPES) %>
  </div>
  <div class="field">
    <%= f.check_box :totals? %>
    <%= f.label :totals?, "Show only total numbers" %>
  </div>
  <div class="field">
    <%= f.label :start_date %>
    <% if @report.start_date -%>
      <%= f.text_field :start_date, class: "datepicker", value: @report.start_date.strftime("%d-%m-%Y") %>
    <% else -%>
      <%= f.text_field :start_date, class: "datepicker" %>
    <% end -%>
  </div>
  <div class="field">
    <%= f.label :end_date %>
    <% if @report.end_date -%>
      <%= f.text_field :end_date, class: "datepicker", value: @report.end_date.strftime("%d-%m-%Y") %>
    <% else -%>
      <%= f.text_field :end_date, class: "datepicker" %>
    <% end -%>
  </div>
  <div class="actions">
    <%= f.submit disable_with: "Loading..." %> |
    <%= link_to 'Back', admin_reports_path %>
  </div>
</div>

