<h1><%= @report.name %></h1>

<p>
  <%= link_to 'Edit Report', edit_admin_report_path(@report) %>
</p>

<p>
  <strong>Report type:</strong>
  <%= @report.report_type %>
</p>

<p>
  <strong>Start date:</strong>
  <%= @report.start_date %>
</p>

<p>
  <strong>End date:</strong>
  <%= @report.end_date %>
</p>

<p>
  <strong>Totals?:</strong>
  <%= @report.totals? %>
</p>

