<ul class="share">
  <li>
    <a href="https://www.tumblr.com/reblog/<%= post['id'] %>/<%= post['reblog_key'] %>" target="_blank">
      <%= image_tag("tumblr.png") %>
    </a>
  </li>
  <li>
    <a href="http://facebook.com/sharer.php?u=<%= post['post_url'] %>&amp;t=Words%20%26%20Curds" class="share-item facebook" target="_blank">
      <%= image_tag("f_color.png") %>
    </a>
  </li>
  
  <li>
    <a href="https://twitter.com/intent/tweet?text=<%= post['post_url'] %>" class="share-item twitter" target="_blank">
      <%= image_tag("twitter_color.png") %>
    </a>
  </li>

  <li>
    <a href="https://reddit.com/submit?url=<%= post['post_url'] %>" class="share-item reddit" target="_blank">
      <%= image_tag("reddit.png") %>
    </a>
  </li>
</ul>
