<h1>Where to Find Us</h1>


<%= image_tag "retail.jpg", :align=> "right" %>

<h3><%= link_to "Order Online", "https://squareup.com/store/Kwac",  :class => "last_link", :target => "_blank" %></h3>


<ul class="states">
  <% @states.each do |state| -%>
    <% if state -%>
      <li class="state">
        <span class="state"><%= state.name %></span>
        <ul class="towns">
          <% (state.towns & @towns).each do |town| -%>
            <li class="town">
              <span class="town"><%= town.name %></span>
              <ul class="contacts">
                <% town.contacts.where(:is_public => true).each do |contact| -%>
                  <li class="contact">
                    <% if contact.url == "" || contact.url == nil -%>
                      <%= contact.business %>
                    <% else -%>
                      <%= link_to contact.business, contact.url %>
                    <% end -%>
                  </li>
                <% end -%>
              </ul>
            </li>
          <% end -%>
        </ul>
      </li>
    <% end -%>
  <% end -%>
</ul>
